<footer class="w-full">
    <nav class="invisible  md:visible my-3 container mx-auto">
      <ul class="bg-secondary-100 flex justify-center text-center mx-auto flex-wrap [&>li]:mx-4">
        <li><a href="" class="text-red-500"> Sobre nosotros </a></li>
        <li><a href="" class="text-red-500"> Terminos y condiciones </a></li>
        <li><a href="" class="text-red-500"> Politica de privacidad </a></li>
        <li><a href="" class="text-red-500"> Manual de usuario </a></li>
        <li><a href="" class="text-red-500"> Contraseña </a></li>
      </ul>
    </nav>
    <div class="bg-red-500 py-1">
      <p class="mx-auto text-sm text-white text-center">Copyright 2024</p>
    </div>
  </footer>


