---
import jj from '../layouts/Layout.astro';
import Layouts from '../layouts/Layout.astro';

---

<Layouts title="Perfil">
    <section class="mobile-view">
        <div class="columns-2 items-center justify-center p-16 mx-10 ">
            <img src="usuario.png" alt="Imagen del trabajador" width="150" class="-mx-14">
            <div class="flex flex-col p-8">
                <h2 class="font-bold text-sm/3 text-gray-600 -mx-20">Pedro Pablo Perez Pereira</h2>
                <h3 class=" text-gray-700 my-2 text-3xs -mx-20">Soldador, Cerrajero, realizo todo tipo de trabajo con acero </h3>
                <div class="-mx-20 text-xs flex-col">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="size-3 absolute">
                        <g>
                            <path d="M24.046 9H14.83L11.98.107 9.13 9H-.085l7.463 5.441-2.864 8.863 7.467-5.488 7.467 5.488-2.864-8.863L24.047 9Zm-6.503 11.663L12 16.588V3.446L14.1 10h6.878l-5.568 4.059 2.134 6.604Z" fill="#e50f0f" opacity="1" data-original="#000000"></path> 
                        </g>
                        <span class="mx-4 font-bold text-gray-500">4.5 / 5.0</span>
                    </svg>
                </div>
            </div>
        <div>
    </section>
    <div class="text-center -my-10 mobile-view"> 
        <button class="bg-green-500 text-white font-bold text-center text-xs p-2 rounded-full w-30">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48" class="size-5 absolute text-white mx-2 -my-1">
                <path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,
                8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path><path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,
                4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path><path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c
                -3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z">
            </path><path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path><path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c
            -0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path>
            </svg>
            <h1 class="mx-10">Contactar</h1></button>
    </div> 
    <main class="columns-2 desktop-view mx-auto container mt-5 mb-10">
        <div class="perfil flex flex-col items-center justify-center p-16 mx-10 border border-black">
            <img src="usuario.png" alt="Imagen del trabajador" width="150" class="-mx-14">
            <div class="flex flex-col mx-10  p-8 justify-between">
                <h2 class="font-bold text-lg text-gray-600 -mx-20 text-center">Pedro Pablo Perez <br> Pereira</h2>
                <h3 class=" text-gray-700 my-2  -mx-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                                                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                                                culpa qui officia deserunt mollit anim id est laborum.</h3>
            </div>
            <div class="justify-between columns-2 desktop-view ">
                <div class="text-xs -mx-10 flex-col">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="size-5 mx-12 absolute">
                        <g><path d="M24.046 9H14.83L11.98.107 9.13 9H-.085l7.463 5.441-2.864 8.863 7.467-5.488 7.467 5.488-2.864-8.863L24.047 9Zm-6.503 11.663L12 16.588V3.446L14.1 10h6.878l-5.568 4.059 2.134 6.604Z" fill="#e50f0f" opacity="1" data-original="#000000"></path></g>
                        <span class="mx-20 font-bold text-lg text-gray-500">4.5 / 5.0</span>
                    </svg>
                </div>
                <div class="desktop-view "> 
                    <button class="bg-green-500 text-white font-bold text-center text-xs p-2 rounded-full w-30">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48" class="size-7 absolute text-white mx-2 -my-1/2">
                            <path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,
                            8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path><path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,
                            4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path><path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c
                            -3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z">
                        </path><path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path><path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c
                        -0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path>
                        </svg>
                        <h1 class="mx-10 text-lg">Contactar</h1></button>
                </div> 
            </div>
        </div>
        <div class="flex flex-col container desktop-view">
            <div class="toggle-button mx-36">
                <button class="active">Trabajos</button>
                <button>Reseñas</button>
            </div>
            <section class="desktop-view my-10">
                <div class="my-20 grid grid-cols-2 gap-10 overflow-y-auto h-96">
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                  <div class="flex items-center justify-center border rounded-3xl border-gray-200 bg-gray-200 h-80">
                    <h2>Mi trabajo</h2>
                  </div>
                </div>
            </section>              
        </div>
    </main>

<style>
    @media screen and (max-width: 1024px) {    .desktop-view {
            display: none;    }
    }
	@media screen and (min-width: 1023px) {    .mobile-view {
			display: none;    }
	}
    .perfil{
        width: 90%;
        border-radius: 3rem;
        border-color:rgb(190, 188, 188);
        box-shadow: 2px 2px 2px 2px rgba(32,32,32,0.3);

    }
    /* Contenedor del botón */
    .toggle-button {
    display: flex;
    border: 2px solid #d32f2f;
    border-radius: 100px;
    overflow: hidden;
    width: 60%;
    }

    /* Botones */
    .toggle-button button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #d32f2f;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    }

    /* Botón activo */
    .toggle-button .active {
    background-color: #d32f2f;
    color: #fff;
    }

    /* Quitar enfoque visual al hacer clic */
    .toggle-button button:focus {
    outline: none;
    }
</style>
<script>
    document.querySelectorAll('.toggle-button button').forEach((button) => {
    button.addEventListener('click', () => {
    document.querySelectorAll('.toggle-button button').forEach((btn) => {
      btn.classList.remove('active');
    });
    button.classList.add('active');
  });
});
</script>
    